.movie-card {
  padding-top: 56.25%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 17px -5px #000;
}

.movie-card:hover {
  transform: scale(1.05);
  border: 3px solid rgba(249, 249, 249, 0.7);
}

.movie-card-link-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
