.movies-row {
  margin-top: 50px;
}

.movies-row-title {
  margin-bottom: 20px;
}

.movies-row-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

@media (max-width: 768px) {
  .movies-row-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
