.movie-details {
  position: fixed;
  top: 70px;
  height: 100vh;
}

.movie-details-container {
  padding: 0 5rem;
  display: flex;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.movie-details-bg-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
}

.movie-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  /* max-width: 50%; */
  /* padding: 0 60px; */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-55%); */
  /* width: 70vw; */
}

.movie-details-content-title-img {
  width: 35vw;
  min-width: 4.5rem;
  margin-bottom: 3.5rem;
}

.movie-details-content-btns {
  display: flex;
  gap: 2rem;
}

.movie-details-content-btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background: #f9f9f9;
  border: none;
  transition: 0.2s;
}

.play-btn:hover {
  background: rgb(198, 198, 198);
}

.play-btn,
.trailer-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  letter-spacing: 1.8px;
  padding: 1rem 2.4rem;
  border-radius: 4px;
}

.trailer-btn {
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #f9f9f9;
  transition: 0.2s;
}

.trailer-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.other-btns {
  display: flex;
  gap: 2rem;
}

.plus-btn,
.people-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.8rem;
  width: 5.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #f9f9f9;
  border-radius: 50%;
}

.plus-icon,
.group-icon {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.play-icon {
  font-size: 1.8rem;
}

.movie-details-content-subtitle {
  color: rgb(249, 249, 249);
  font-size: 1.5rem;
  /* min-height: 2rem; */
  width: 100%;
}

.movie-details-content-desc {
  line-height: 1.4;
  color: rgb(249, 249, 249);
  font-size: 2rem;
  width: 55%;
  min-width: 4.5rem;
}

.movie-details-content-icon {
  color: white;
}

.play-icon-black {
  color: #000;
}

@media (max-width: 992px) {
  .movie-details-content-title-img {
    width: 65vw;
  }
}

@media (max-width: 768px) {
  .movie-details-content-title-img {
    width: 60vw;
  }

  .movie-details-content-desc {
    font-size: 1.8rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .movie-details-content-title-img {
    justify-self: center;
  }

  .movie-details-content-btns {
    flex-wrap: wrap;
  }

  .movie-details-content-desc {
    font-size: 1.8rem;
  }
}

@media (max-width: 425px) {
  .movie-details-content-title-img {
    width: 65vw;
  }

  .movie-details-content-subtitle {
    font-size: 1.2rem;
  }

  .movie-details-content-desc {
    font-size: 1.6rem;
    width: 100%;
  }
}
