.home {
  position: relative;
  top: 70px;
  /* height: 100vh; */
  background: url(../../assets/imgs/bg/home-background.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0rem 7rem 7rem 7rem;
  /* width: 1500px; */
}

@media (max-width: 768px) {
  .home {
    padding: 0 3rem;
  }
}
