@import "../../scss/colors";
@import "../../scss/mixins";

.nav-menu-list-item {
  font-size: 1.5rem;
  letter-spacing: 1px;

  a {
    @include flex-align-center;
    gap: 0.8rem;
    color: $color-white;

    img {
      height: 2rem;
      min-width: 2rem;
      width: 2rem;
    }

    &:hover {
      .nav-menu-list-item-title::after {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }

  span {
    position: relative;
    font-size: 15px;
    letter-spacing: 1.42px;
    line-height: 1.08;
    white-space: nowrap;
  }

  &-icon {
    font-size: 1.5rem;
  }

  &-title::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 0.2rem;
    width: 100%;
    background-color: $color-white;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 250ms ease;
  }
}