@import "../scss/colors";
@import "../scss/mixins";

.section-login {
  @include flex-center;
  flex: 1;
  margin-top: 70px;
  padding: 0 40px;
  text-align: center;
  background: url(../../src/assets/imgs/bg/login-background.jpg) top no-repeat;
}

.login-content {
  max-width: 650px;

  @media (max-width: 750px) {
    width: 100%;
  }

  .login-logo {
    max-width: 92%;
    margin-bottom: 7px;
  }

  .login-btn {
    @include flex-center;
    margin-bottom: 12px;
    padding: 16.5px 0;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: $color-white;
    background-color: $color-blue-btn;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      background-color: $color-blue-btn-hover;
    }
  }

  .login-plan-info {
    margin: 0 0 24px;
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: hsla(0, 0%, 95.3%, 1);
  }

  .logo-two-img {
    margin-bottom: 20px;
  }
}
