.section-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(/src/assets/imgs/bg/login-background.jpg) top no-repeat;
  padding: 0 40px;
}

.login-content {
  max-width: 650px;
}

.login-logo {
  max-width: 92%;
  margin-bottom: 7px;
}

.logo-two-img {
  margin-bottom: 20px;
}

.login-btn {
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  background-color: #0063e5;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
  padding: 16.5px 0;
}

.login-btn:hover {
  background-color: #0483ee;
}

.login-plan-info {
  letter-spacing: 1.5px;
  color: hsla(0, 0%, 95.3%, 1);
  font-size: 11px;
  margin: 0 0 24px;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .login-content {
    width: 100%;
  }
}
