.company-card {
  border-radius: 10px;
  /* box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, */
  /* rgb(0 0 0 / 73%) 0px 16px 10px -10px; */

  box-shadow: inset 0 0 50px rgba(0,0,0,0.2) ;
  box-shadow: 0 16px 17px -5px #000;
  cursor: pointer;
  /* overflow: hidden; */
  transition: all 250ms ease;
  border: 3px solid rgba(249, 249, 249, 0.1);
  /* height: 200px; */
  /* height: 100%; */
  padding-top: 56.25%;
  position: relative;
  background: linear-gradient(0deg, #1e1f2a 0%, #2f313d 67%);
}

.company-card:hover {
  transform: scale(1.05);
  border: 3px solid rgba(249, 249, 249, 0.7);
}

.company-card img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.company-card video {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company-card:hover video {
  opacity: 1;
}
