@import "./scss/colors";
@import "./scss/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#root,
body {
  min-height: 100vh;
  font-family: Avenir-Roman, sans-serif;
  color: $color-white;
  background-color: #040714;
  overflow-x: hidden;
}

a {
  font-family: $font-family;
  color: $color-white;
  text-decoration: none;
}

button {
  font-family: $font-family;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
