.slider {
  display: block;
  margin-top: 30px;

  .slide-wrap {
    border-radius: 4px;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.slider > button {
  opacity: 0;
  transition: 0.2s;
}

.slider > button:hover {
  opacity: 1;
}

.slider ul li button::before {
  font-size: 10px;
  color: white !important;
}

.slider li.slick-active button::before {
  color: white !important;
}

.slider .slick-list {
  overflow: initial;
}

.slider .slick-prev,
.slider .slick-next {
  left: 75px;
  right: 75px;
}
